# Covariance and Correlation

In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\SRI KEERTHI\OneDrive\Desktop\MLR_Study_marks.csv")
df

    Study_Hours  Attendance  Sleep_Hours  Marks
0             2          60            5     48
1             3          62            5     50
2             4          65            6     55
3             5          68            6     58
4             6          70            6     60
..          ...         ...          ...    ...
72            6          79            6     68
73            7          82            7     71
74            8          85            7     75
75            9          88            7     78
76           10          96            8     84

[77 rows x 4 columns]

In [ ]:
df.cov()

In [ ]:
df.corr()

In [ ]:
df = pd.read_csv(r"C:\Users\SRI KEERTHI\OneDrive\Desktop\MLR_Study_marks.csv")
df

In [ ]:
df.cov()

In [ ]:
df.corr()

In [2]:
data = {
    "rain": [30,32,29,35,33],
    "sales":[150,130,200,80,100]
}
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.cov()

In [15]:
df.corr()

           rain     sales
rain   1.000000 -0.962092
sales -0.962092  1.000000

In [43]:
data={
    "speed":[30,45,50,70,20],
    "distance":[15,13,20,10,10]
}
df=pd.DataFrame(data)
df

   speed  distance
0     30        15
1     45        13
2     50        20
3     70        10
4     20        10

In [44]:
df.cov()

           speed  distance
speed     370.00      2.75
distance    2.75     17.30

In [45]:
df.corr()

             speed  distance
speed     1.000000  0.034372
distance  0.034372  1.000000

# NORMALIZATION

In [2]:
import pandas as pd
s = pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [3]:
s.min()

1000

In [4]:
s.max()

9000

In [5]:
s_norm = (s - s.min())/(s.max() - s.min())
print(s_norm)

0    0.000
1    0.125
2    0.250
3    0.500
4    1.000
dtype: float64

# IMPORT MODULES

In [6]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [7]:
s_norm = MinMaxScaler().fit_transform(s.values.reshape(-1, 1))
print(s_norm)

[[0.   ]
 [0.125]
 [0.25 ]
 [0.5  ]
 [1.   ]]

In [8]:
df = pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [9]:
norm_data = MinMaxScaler().fit_transform(df)
norm_data

array([[0.        , 0.        ],
       [0.25      , 0.33333333],
       [0.5       , 0.66666667],
       [0.75      , 0.88888889],
       [1.        , 1.        ]])

In [10]:
norm_df = pd.DataFrame(norm_data, columns=df.columns)
norm_df

   Temp  Humidity
0  0.00  0.000000
1  0.25  0.333333
2  0.50  0.666667
3  0.75  0.888889
4  1.00  1.000000

# STANDARDIZATION:(Z_SCORE)

In [11]:
import pandas as pd
s = pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [12]:
s.mean()

np.float64(4000.0)

In [13]:
s.std()

3162.2776601683795

In [14]:
Z_Score=(s - s.mean()) / s.std()
print(Z_Score)

0   -0.948683
1   -0.632456
2   -0.316228
3    0.316228
4    1.581139
dtype: float64

In [15]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [16]:
Z_Score = StandardScaler().fit_transform(s.values.reshape(-1, 1))
print(Z_Score)

[[-1.06066017]
 [-0.70710678]
 [-0.35355339]
 [ 0.35355339]
 [ 1.76776695]]

In [17]:
Z_Score = (s - s.mean()) / s.std(ddof=0)
print(Z_Score)

0   -1.060660
1   -0.707107
2   -0.353553
3    0.353553
4    1.767767
dtype: float64

In [18]:
df = pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]
})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [19]:
Z_score=StandardScaler().fit_transform(df)
Z_score_df=pd.DataFrame(Z_score,columns=df.columns)

print(Z_score_df)

       Temp  Humidity
0 -1.414214 -1.570717
1 -0.707107 -0.664534
2  0.000000  0.241649
3  0.707107  0.845771
4  1.414214  1.147832